.page {
  display: flex;
  align-items: center;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.content__accent {
  color: #545050;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: auto 399px;
  gap: 30px;
  align-items: end;
}

.content__list {
  overflow: auto;
  height: 298px;
  position: relative;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link_current,
.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff
}


.content__video-card-title {
  font-size: 27px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
  max-width: 184px;
}

.content__video-card-description {
  line-height: 16.2px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: start;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 21.6px;
  margin-bottom: 3px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.result__video-container {
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  padding: 1px;
  border: 1px solid transparent;
  margin-left: -1px;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__textfield {
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: 100%;
  line-height: 21.6px;
  padding: 1px 14px 1px 0;
  appearance: none;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  min-width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, .7)
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:before {
  background: #fff;
}

.button {
  border: 1px solid #fff;
  width: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  padding: 5.5px 0 5.5px 0;
  line-height: 21.6px;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;  
}

.search-form__submit-button {
  max-width: 194px;
  align-self: flex-end;
}